In [1]:
# import database

In [2]:
import numpy as np
import pandas as pd 

import matplotlib.pyplot as plt
import seaborn as sns

In [3]:
movies=pd.read_csv('M2_T2_V1Movies.csv')

In [4]:
movies.head()

,Title,Year,Genre,Duration,Director,Rating,Popularity
0,What Is It?,2005,Drama,72,Crispin Glover,5.6,21.83
1,Glitter,2001,Drama,104,Vondie Curtis-Hall,2.2,81.69
2,The Attic Expeditions,2001,Comedy,100,Jeremy Kasten,5.0,42.08
3,Men in Black II,2002,Action,88,Barry Sonnenfeld,6.2,98.60
4,Star Wars: Episode II - Attack of the Clones,2002,Action,142,George Lucas,6.5,99.58

In [5]:
movies.tail()

,Title,Year,Genre,Duration,Director,Rating,Popularity
5270,Bloodline,2018,Crime,97,Henry Jacobson,6.0,64.69
5271,The Princess Switch,2018,Comedy,101,Mike Rohl,6.0,80.21
5272,You Might Be the Killer,2018,Comedy,92,Brett Simmons,5.9,61.14
5273,The Final Wish,2018,Horror,95,Timothy Woodward Jr.,4.2,54.68
5274,Shrek Retold,2018,Animation,90,Grant Duffrin,7.5,26.07

In [6]:
movies.shape

(5275, 7)

In [7]:
movies.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5275 entries, 0 to 5274
Data columns (total 7 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Title       5275 non-null   object
 1   Year        5275 non-null   int64
 2   Genre       5275 non-null   object
 3   Duration    5275 non-null   int64
 4   Director    5275 non-null   object
 5   Rating      5275 non-null   float64
 6   Popularity  5275 non-null   float64
dtypes: float64(2), int64(2), object(3)
memory usage: 288.6+ KB

In [9]:
movies.isnull().sum()

Title         0
Year          0
Genre         0
Duration      0
Director      0
Rating        0
Popularity    0
dtype: int64

In [10]:
#HOW MANY MOVIES WERE PRODUCED EACH YEARS?

In [11]:
movies.head()

,Title,Year,Genre,Duration,Director,Rating,Popularity
0,What Is It?,2005,Drama,72,Crispin Glover,5.6,21.83
1,Glitter,2001,Drama,104,Vondie Curtis-Hall,2.2,81.69
2,The Attic Expeditions,2001,Comedy,100,Jeremy Kasten,5.0,42.08
3,Men in Black II,2002,Action,88,Barry Sonnenfeld,6.2,98.60
4,Star Wars: Episode II - Attack of the Clones,2002,Action,142,George Lucas,6.5,99.58

In [19]:
movies.Year.value_counts().sort_index()

2001    167
2002    186
2003    139
2004    150
2005    210
2006    292
2007    284
2008    260
2009    327
2010    282
2011    328
2012    370
2013    382
2014    393
2015    388
2016    375
2017    386
2018    356
Name: Year, dtype: int64

In [20]:
movies.Year.value_counts().sort_index(ascending=False)

2018    356
2017    386
2016    375
2015    388
2014    393
2013    382
2012    370
2011    328
2010    282
2009    327
2008    260
2007    284
2006    292
2005    210
2004    150
2003    139
2002    186
2001    167
Name: Year, dtype: int64

In [21]:
#who were the top director in terms of most movies

In [22]:
movies.head()

,Title,Year,Genre,Duration,Director,Rating,Popularity
0,What Is It?,2005,Drama,72,Crispin Glover,5.6,21.83
1,Glitter,2001,Drama,104,Vondie Curtis-Hall,2.2,81.69
2,The Attic Expeditions,2001,Comedy,100,Jeremy Kasten,5.0,42.08
3,Men in Black II,2002,Action,88,Barry Sonnenfeld,6.2,98.60
4,Star Wars: Episode II - Attack of the Clones,2002,Action,142,George Lucas,6.5,99.58

In [23]:
movies.Director.value_counts()

Tyler Perry             15
Timothy Woodward Jr.    10
John Lyde               10
Joe Swanberg            10
James Franco             8
                        ..
John Alan Simon          1
Abram Cox                1
Peter Callahan           1
Dan Baron                1
Grant Duffrin            1
Name: Director, Length: 3772, dtype: int64

In [26]:
movies.Director.value_counts().head(10)

Tyler Perry             15
Timothy Woodward Jr.    10
John Lyde               10
Joe Swanberg            10
James Franco             8
Michael Polish           8
Edward Burns             7
David Gordon Green       7
Matt Riddlehoover        7
Mark Atkins              7
Name: Director, dtype: int64